@font-face {
    font-family: 'Norse';
    src: url('./assets/font/Norse.woff2') format('woff2'),
        url('./assets/font/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('./assets/font/Norse-Bold.woff2') format('woff2'),
        url('./assets/font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
}

aside {
    height: inherit;
    width: 35%;
    background-image: url(./assets/green-leaf-halie-west-unsplash.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    margin-top: 200px;
}

div[class="logo"] {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0.4);
}

#odin-logo {
    height: 85%;
}

#odin {
    font-family: "Norse Bold";
    font-size: 7rem;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

a {
    color: #ffffff;
}

