@font-face {
    font-family: 'Norse';
    src: url('./assets/font/Norse.woff2') format('woff2'),
        url('./assets/font/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('./assets/font/Norse-Bold.woff2') format('woff2'),
        url('./assets/font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #f9fafb;
}

aside {
    height: 100vh;
    width: 50%;
    background-image: url(./assets/green-leaf-halie-west-unsplash.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    margin-top: 240px;
}

div[class="logo"] {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0.4);
}

#odin-logo {
    height: 85%;
}

#odin {
    font-family: "Norse Bold";
    font-size: 7rem;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

footer > p > a {
    color: #ffffff;
}

main {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .top-paragraph {
    font-size: 1.8rem;
    font-weight: 800;
    max-width: 59ch;
    padding-left: 70px;
}

.top-paragraph p {
    margin-bottom: 15px;
}

main .form {
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 15px 0 15px 70px;
    color: #1f2937;
    background-color: #ffffff;   
    box-shadow: 0 5px 10px 2px rgb(0 0 0 / 0.1);
}

form > p {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 10px;
}

form div {
    display: flex;
    margin-bottom: 10px;
}

div > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

input {
    width: 280px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
}

input:focus {
    outline: none;
    border: 1px solid #0466c8;
    box-shadow: 3px 2px 8px 1px rgb(0 0 0 / 0.2);
}

input[id="first_name"],
input[id="email"],
input[id="pwd"] {
    margin-right: 100px;
}

input[id="pwd"]:user-invalid,
input[id="confirm_pwd"]:user-invalid {
    outline: none;
    border: 1px solid #ef233c;
}

main .bottom {
    padding-left: 70px;
}

.bottom button {
    margin-block: 20px;
    width: 230px;
    padding: 10px;
    background-color: #596d48;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 2px 8px 1px rgb(0 0 0 / 0.2);
    font-weight: 800;
}

.bottom > div > a {
    text-decoration: none;
    cursor: pointer;
    color: #596d48;
    font-weight: 800;
}
